/* Estilos para VentanaInicio */
.ventana-inicio {
    -fx-pref-width: 600px;
    -fx-pref-height: 400px;
}

/* Estilos para VentanaCarga */
.ventana-carga {
    -fx-pref-width: 300px;
    -fx-pref-height: 200px;
    -fx-background-color: green;
}

/* Estilos para el texto "¡Bienvenidos!" */
.texto-bienvenidos {
    -fx-layout-x: 254px;
    -fx-layout-y: 180px;
}

/* Estilos para el texto "Cargando..." */
.texto-cargando {
    -fx-layout-x: 92px;
    -fx-layout-y: 94px;
}
